
body{
    width: 	100%;
    margin: 0;
    padding: 0;
    }
    
    .hero, .projects, .about{ padding: 100px 30px}
    
    h1 {font-size: 65px;}

.projects img{ display: none;}

.profile-pic{width: 60%;
float:none;
    border-radius: 50%;
    margin-bottom: 40px;
    }