/* font-family: 'Comfortaa', cursive
font-family: 'Montserrat Alternates', sans-serif; */
:root {
     --primary-color: purple;
     --secondary-color: seashell;
   
};

/* Navbar*/
nav{padding: 20px 0;  
  
    }

nav ul {padding: 0;;
     margin: 0;
     font-weight:bold;
    }
     
     nav li{
          display: inline;
     list-style: none;
     line-height: 42px;
     margin-left: 15px;
}
nav a {text-decoration: none;
color: black;
transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a{color: var(--primary-color);}

.name, .short-name{color: var(--primary-color);
     font-family:  'Comfortaa', cursive;
     font-size: 20px;
     padding: 10px;}
     
.short-name{display: none;}


/* body */
body{font-family: 'Montserrat Alternates', sans-serif;
}

.content-container{ background-color:var(--secondary-color);
text-align: center;
padding: 220px 80px}

h1{ color: var(--primary-color);
font-family:  'Comfortaa', cursive;
font-size: 80px;
padding-top: 30px;
}

.content-container h2{font-size: 30px;
font-weight: bold;
}

.content-container h3{font-size: 20px;
line-height: 70px;}

.btn {padding: 10px 15px;
border-radius: 7px;
line-height: 30px;
color: white;
background-color: var(--primary-color);}

.projects{ padding: 150px 90px;
text-align: center;}

.profile-pic{ width: 50%;
float: right;}

.contacts {padding-top: 60px;}

/*  Footer  */
footer{text-align: center;
     margin:  40px 120px;
}
.email-link{ text-decoration: none;
color: black;
font-size: 24px;
}
.social-links a {
     text-decoration: none;
     margin: 20px 20px;
     color:var(--primary-color);
     background: var(--secondary-color);
     padding: 10px 14px;
     border-radius: 50%;
     font-size: 18px;
    ;
 }
.email-link:hover, .social-links:hover{
     color: var(--primary-color);}
 .social-links a:hover {
      color: white;
     background: var(--primary-color);}

     div.contact-box{display: flex;
          justify-content: space-between;
          background: var(--secondary-color);
          padding: 40px 220px;
     margin-bottom: 20px;}
     .contact-box h4{ font-weight: bold;}

     .info-code { text-align: center;}
     .info-code a{
     color: black;
text-decoration: none;}
.info-code a:hover{text-decoration: underline;
color: var(--primary-color);}