/* font-family: 'Comfortaa', cursive
font-family: 'Montserrat Alternates', sans-serif; */
:root {
     --primary-color: purple;
     --secondary-color: seashell;
   
};

/* Navbar*/
nav{padding: 20px 0;  
  
    }

nav ul {padding: 0;;
     margin: 0;
     font-weight:bold;
    }
     
     nav li{
          display: inline;
     list-style: none;
     line-height: 42px;
     margin-left: 15px;
}
nav a {text-decoration: none;
color: black;
transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a{color: var(--primary-color);}

.name, .short-name{color: var(--primary-color);
     font-family:  'Comfortaa', cursive;
     font-size: 20px;
     padding: 10px;}
     
.short-name{display: none;}
/* body */
body{font-family: 'Montserrat Alternates', sans-serif;
}

.content-container{ background-color:var(--secondary-color);
text-align: center;
padding: 220px 80px}

h1{ color: var(--primary-color);
font-family:  'Comfortaa', cursive;
font-size: 80px;
padding-top: 30px;
}

.content-container h2{font-size: 30px;
font-weight: bold;
}

.content-container h3{font-size: 20px;
line-height: 70px;}

.btn {padding: 10px 15px;
border-radius: 7px;
line-height: 30px;
color: white;
background-color: var(--primary-color);}

.projects{ padding: 150px 90px;
text-align: center;}

.profile-pic{ width: 50%;
float: right;}

.contacts {padding-top: 60px;}