/* font-family: 'Comfortaa', cursive
font-family: 'Montserrat Alternates', sans-serif; */
:root {
     --primary-color: purple;
     --secondary-color: seashell;
   
};



body{font-family: 'Montserrat Alternates', sans-serif;
}

.hero{ background-color:var(--secondary-color);
text-align: center;
padding: 220px 80px}

h1{ color: var(--primary-color);
font-family:  'Comfortaa', cursive;
font-size: 80px;
padding-top: 30px;
}

.hero h2{font-size: 30px;
font-weight: bold;
}

.hero h3{font-size: 20px;
line-height: 70px;}

.btn {padding: 10px 15px;
border-radius: 7px;
line-height: 30px;
color: white;
background-color: var(--primary-color);}

.projects{ padding: 150px 90px;
text-align: center;}