/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Righteous', cursive; */
:root {
     --primary-color: purple;
     --secondary-color: seashell;
   
};



body{font-family: 'Montserrat Alternates', sans-serif;}

.hero{ background-color:var(--secondary-color);
text-align: center;
padding: 160px 20px}

h1{ color: var(--primary-color);
font-family: 'Righteous', cursive;
font-size: 80px;
}

.hero h2{font-size: 30px;
font-weight: bold;
line-height: 2px;}

.hero h3{font-size: 20px;
line-height: 50px;}

.btn {padding: 10px 15px;
border-radius: 4px;
line-height: 30px;}